bin
obj
deploy/
_ReSharper.*/*
*.csproj.user
*.ReSharper.user
*.ReSharper
*.suo
*.cache
~$*
aspnet_client
Thumbs.db
*.swp
UpgradeWizardLog.xml
_UpgradeWizard_Files/*
*.orig
*Publish.xml
*/*Publish.xml
*.Publish.xml
*/*.Publish.xml
*.docstates
*/*.docstates
TestResults/*
[Pp]ackages/*
*/[Pp]ackages/*
*.user
*.vssscc
*.vspscc
*.vsp
*.nunit
*.[Oo]ld
*.[Vv]isual[Ss]tate.xml
sql
/Database/MobiusDatabase/Schema Comparisons/*.scmp
.[Jj]ust[Cc]ode
*.dbmdl
*/*.dbmdl
[Pp]ublish[Pp]rofiles
*.psess
TestResult.xml
*.error.txt
*.warning.txt
msbuild.log
*.bak
*.pdb
pingme.txt
*/pingme.txt
Web/Web.UI/README.txt
